.AsideCont {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: blanchedalmond;
    font-size: 1.5rem;
}

.AsideCont ul li {
    list-style-type: none;
    padding: 1rem;
}

a {
    color: blanchedalmond;
    text-decoration: none;
}